{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block jumbotron %}
    <h1>Welcome to blog</h1>
    <p>Lorem ipsum dolor sit amet</p>
{% endblock %}


{% block sidebar %}
    <h3>Tags</h3>
    <p>
        <a href="#" class="label label-primary">#example1</a>
        <a href="#" class="label label-warning">#example2</a>
        <a href="#" class="label label-success">#example3</a>
    </p>
{% endblock %}