{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Search results{% endblock%}

{% block body %}
    <header>
        <h1>Search results</h1>
    </header>


{% endblock %}