{% extends "BloggerAdminBundle::base.html.twig" %}

{% block jumbotron %}
    <h1>Edit user {{ entity.username }}</h1>
{% endblock %}

{% block body -%}

    {{ form(edit_form) }}

    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('user') }}">
                Back to the list
            </a>
        </li>
    </ul>

    <li>{{ form(delete_form) }}</li>
{% endblock %}
